body {
  height: 80%;
}

html {
  display: table;
  margin: auto;
  margin-top: 40px;
  background-color: white;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: lightblue;
  border: 4px solid lightblue;
  padding:20px;
  border-width: 10px;
  border-radius: 25px;

}
.a, .b{
  font-size: 30px;
}
.tr{
  color: grey;
  font-size: 40px;
  justify-content: center;
  align-items: center;

}
.tr2 .name{
  color: green;
  height: 25px;
}
.tr2 .price, .tr2 .name{
  font-size: 20px;
}
.search{
  height: 30px;
  width: 350px;
  margin-bottom: 30px;
  border-radius: 20px;
  border-color: green;
  padding: 10px;
  font-size: 25px;
  font-style: italic;

}
.checkbox{
  height: 20px;
  width:30px;
  margin-left: 20px;
  margin-top: 50px;
  margin-left: 50px; 
}
.span{
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  color:grey;
  padding-right:30px
}